/* .button__edit__button {
    padding: 15px 30px;
    margin-left: 60px;
    background-color: rgb(73, 182, 157);
    border: none;
    border-radius: 8px;
    color: rgb(150, 148, 134);
    font-size: 15px;
}
.button__delete__button:hover {
    background-color: #74d09a;
    backface-visibility: visible;
    color: black;
  }
.button__edit__button:hover {
    background-color: #34694a;
    backface-visibility: visible;
    color: black;
  }
.button__delete__button {
    padding: 15px 30px;
    margin-left: 10px;
    background-color: rgb(0, 166, 255);
    border: none;
    border-radius: 8px;
    color: brown;
    font-size: 15px;
}
.button__add__button__container {
    width:25px;
    display: flex;
    padding-left:15px ;
    border-radius: 10px;
}
.button__add__button {
    padding: 15px 30px;
    margin-left: 22px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(214, 122, 122);
    margin-top: 15px; */

   
    /* display: flex; */
/* }
.button__add__button:hover {
    background-color: #d07474;
    backface-visibility: visible;
    color: black;
  }
  
  */
