.card__todo{
    display: flex;
    text-align: left;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    justify-content: right;
    color: rgb(2, 2, 2);
    width: 80%;
    
}
.card__todo__name{
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    /* margin-right: 500px; */
    text-align:right;
    margin-right: auto;
    /* overflow:scroll; */
}
.card__todo__edit button{
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    background-color: #92babd;
    color: green;
    padding: 15px 30px;

}
.card__todo__delete button{
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
    background-color: #92babd;
    color: red;
    font-size: 15px;
}