
<div class="app__container">
  <div class="app__wrapper">
    <div class="app__title">
      <div>To-Do List App</div>
    </div>

    <div class="app__add">
      <div class="app__input__container">
        <input  class="app__input" type="text"/>
      </div>
      
      <div class="app__add__button__container">
        <button class="app__add__button">Add</button>
      </div>
    </div>
    
    <div class="app__data">
      
      
   <app-card todoName ="meeting 1" />  
   <app-card todoName ="meeting 2" />  
      
    </div>
  </div>

</div>